<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="calculator" class="com.dok.spring.beanscopes.CalculaterService"/>
	<!-- default bean scope is singleton -->
    
    <bean id="printservice" class="com.dok.spring.beanscopes.PrintService" scope="prototype" />
    

</beans>